<ion-view view-title="Account">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap" ng-if=" isLogged == false ">
        Você não está logado.
        <button class="button button-positive button-block" ng-click="entrar()">Entrar</button>
        <button class="button button-balanced button-block" ng-click="cadastrar()">Cadastre-se</button>
      </div>
      <div class="item item-text-wrap" ng-if=" isLogged == true ">
        <p>Olá {{ account.name }}.</p>
        <button class="button button-assertive button-block" ng-click="logout()">Sair</button>
      </div>
    </div>
  </ion-content>
</ion-view>
