<ion-view view-title="Loja">
  <ion-content>
      <div class="list card" ng-repeat="product in ::products track by product.id">

        <div class="item item-avatar">
          <img ng-src="img/products/{{ product.image_name }}.gif">
          <h2>{{ product.name }}</h2>
          <h4>{{ product.price }} gp</h4>
        </div>

        <div class="item item-body">
          <p>{{ product.excerpt }}</p>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a href="#/tab/store/{{ product.id }}" class="tab-item">
            <i class="icon ion-information-circled"></i>
            Detalhes
          </a>
          <a ng-click="toggleCart(product)"class="tab-item" >
            <i class="icon" ng-class="{'ion-plus-circled': !product.cart, 'ion-close-circled': product.cart, assertive: product.cart, balanced: !product.cart }" ></i>
            <span ng-if="product.cart">Remover do Carrinho</span>
            <span ng-if="!product.cart">Adicionar ao Carrinho</span>
          </a>
        </div>

      </div>
  </ion-content>
</ion-view>
