<ion-view view-title="Cadastro Rápido">
  <ion-content>
    <form novalidate name="user" ng-submit="salvar(user)">
      <div class="list">
        <label class="item item-input item-icon-right item-input-inset">
          <span class="input-label">Nome</span>
          <input type="text" placeholder="Nome Completo" required name="nome" ng-model="nome">
          <i class="icon ion-alert-circled error" ng-show="user.nome.$dirty && user.nome.$invalid"></i>
        </label>
        <label class="item item-input item-icon-right item-input-inset">
          <span class="input-label">Usuário</span>
          <input type="text" placeholder="Usuário" required name="login" ng-model="login" required ng-model-options="{ updateOn: 'blur' }">
          <i class="icon ion-alert-circled error" ng-show="user.login.$dirty && user.login.$invalid"></i>
        </label>
        <label class="item item-input item-icon-right item-input-inset">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Email" required name="email" ng-model="email" ng-model-options="{ updateOn: 'blur' }">
          <i class="icon ion-alert-circled error" ng-show="user.email.$dirty && user.email.$invalid"></i>
        </label>
        <label class="item item-input item-icon-right item-input-inset">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="Senha" required name="password" ng-model="password">
          <i class="icon ion-alert-circled assertive" ng-show="user.password.$dirty && user.password.$invalid"></i>
        </label>
      </div>

      <input type="submit" ng-disabled="user.$invalid" class="button button-block button-positive" value="Salvar">
    </form>
  </ion-content>
</ion-view>
